.App {
  text-align: center;
}

.todo{
  background: white;
  box-shadow: 2px 2px 5px #c9c9c9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}
.todoList{
  background: #eee;
  border-radius: 6px;
  max-width: 400px;
  margin: 30px auto;
  padding: 10px;
}

.input{
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: calc(100% - 20px);
  margin: 5px 0px 30px 0px;
}

button{
  margin-left:5px;
  font-size:8px;
  border-radius:5px;
  vertical-align: middle;
}

button:hover{
  cursor: pointer;
  background-color:#81a5f8;
}